$primary: #3F4254;
$secondary: #2E8FF0;
$white: #ffffff;
$black: #000000;

$error: #EF7DA0;
$red_dimmed: #EF7DA0;

$dark-text: #3F4254;
$grey-text: #A4A4B5;
$body-bg: #EEF0F8;
$card-bg: #ffffff;

$grey: #F4F5F8;
$grey-light: #F3F6F9;
$grey-dark: #EFF0F4;

$box-shadow: 0px 0px 30px #523F690D;
$box-shadow-light: 0px 5px 8px #2E8FF029;

$font-primary: 'Helvetica Regular', sans-serif;
$font-weight-secondary: 'Rubik', sans-serif;

$green: #66BB6A;
$red: #F44682;

$font-family: 'Helvetica';
$font-header: normal 600 13px/16px $font-family;
$font-title: normal 600 16px/19px $font-family;
$font-label-input: normal normal normal 13px/16px $font-family;
$font-input: normal 300 13px/16px $font-family;
$font-button: normal 300 14px/17px $font-family;
$font-table-row: normal 400 13px/16px $font-family;
$font-text: normal 400 13px/16px $font-family;

